#flash {
    font-weight: bold;
    color: red;
}

html {
    height:100%;
}

body {
    margin:0;
    color:#191919;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    background-image:url('/layout_images/right_border.png');
    background-repeat:repeat-y;
    background-position:right;
}

a {
    text-decoration:none;
}

/* Base layout */

#container {
    position:relative;
    width:700px;
    padding:5px 20px 37px 0;
    float:right;
    text-align:center;
}

img {
    border:none;
}

#footer {
    text-align:right;
    font-size:15px;
    font-size:90%;
    height: 18px;
    padding:8px 15px;
    clear:both;
    background-color:black;
    position:fixed;
    top:100%;
    margin:-32px 0 0 -30px;
    width:100%;
}

#footer a, #footer a:visited {
    text-decoration:none;
    color:#989898;
}

#footer a:hover {
    color:#d2d2d2;
}

/* The stuff for show.mako is in the show.css file. */

/* Stuff for submit.mako */

#submit-form {
    text-align:left;
    float:right;
}

#submit-form a, #submit-form a:visited {
    color:black;
}

#submit-form li {
    list-style:none;
    margin:10px 0;
}

#textinput {
    width:600px;
}

#author, #author_url {
    width:200px;
}

#author, #author_url, #textinput, #email, #recaptcha_response_field {
    margin-left:5px;
    border:none;
    background-color:#f0f0f0;
    height:20px;
    padding:0 5px 5px 6px;
}

#recaptcha_response_field {
    width:300px;
}

#captcha_links {
    margin-left:3px;
    text-align:left;
    font-size:0.9em;
}

#captcha_links a {
    text-decoration:underline;
}

#email {
    width:200px;
}

.mandatory {
    font-weight:bold;
}

#submit_button {
    clear:both;
    text-align:center;
}

#descr {
    font-style:italic;
}

.submitlink {
    font-weight:bold;
}

.captcha {
    padding-left: 155px;
}

/* Stuff for months.mako */

#months {
    width:872px;
    float:right;
    margin:0;
}

#months img {
    border:none;
    padding:0;
    opacity:0.4;
    filter:alpha(opacity=40)
}

#months img:hover {
    opacity:1;
    filter:alpha(opacity=100)
}

#months ul {
    list-style-type: none;
    margin:0 0 0 18px;
    padding:0;
}

.month {
    font-weight:bold;
    width:122px;
}

#months li {
    float:left;
    text-align:center;
    width:122x;
    height:122px;
    padding:0;
    border:0;
    line-height:122px;
}

#months hr {
    clear:both;
    visibility:hidden;
}

/* Stuff for the static pages */
#about {
    font-size:110%;
}

p {
    text-indent:20px;
}

#joinus {
    margin-top:0;
    float:right;
}

#joinus p {
    font-weight:bold;
    margin:3px 0;
    text-indent:0;
    text-align:right;
}

#joinus_links {
    text-align:right;
    font-size:110%;
    margin-top:15px;
}

#facebook, #facebook:visited {
    color: #08529b;
    margin-right:20px;
}

#feedlink, #feedlink:visited {
    color: #f57b32;
    margin-right:20px;
}

#flickrlink, #flickrlink:visited {
    color: #ff0088;
}