/* Override the base.css container width and text-align */
#container {
    width:100%;
    text-align:right;
}

#right_col {
    width:190px;
    padding:0 0 0 10px;
    margin:0;
    float:right;
    text-align:left;
}
#text {
    font-size:120%;
    margin:0;
    padding:0;
}

#text a, #text a:visited {
    color:#191919;
}

#text a:hover {
    color:#555555;
}

#prevnext {
    font-weight:bold;
    height:30px;
    text-align:center;
    font-weight:normal;
    padding:0;
}

#prevnext a, #prevnext a:visited {
    color:black;
}

#prevnext a:hover {
    color:black;
}


#previous, #next {
    padding:0;
    font-size:170%;
    font-weight:bold;
    margin:-7px 0 0 0;
}

#previous {
    float:left;
}

#next {
    float:right;
}

#fullsize {
    font-size:80%;
}

#fullsize a {
    text-decoration:none;
}

#fullsize a:hover {
    color: #555555;
}

#resize_maximize {
    margin:2px 0 0 -18px;
    padding:0;
    list-style:none;
    float:right;
    width:16px;
    position:relative;
    z-index:2;
}

#resize_maximize li {
    display:inline;
    width:16px;
    height:16px;
    float:right;
    margin:0;
    padding:0;
}

#resize_maximize li a {
    margin:0;
    float:none;
}

#main_image {
    margin:0 0 0 0;
    position:relative;
    z-index:1;
}
